@import 'tailwindcss';

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@utility clickable-hover {
  @apply hover:text-blue-300;
}

@utility test-border {
  @apply border border-red-600;
}

@utility delimiter {
  @apply border-l-[1.5px] border-black my-0.5;
}

@utility in-progress {
  @apply relative before:content-['in_progress'] before:absolute before:opacity-0 
  hover:before:content-['in_progress'] hover:before:absolute 
  hover:before:bottom-full hover:before:whitespace-nowrap 
  hover:before:z-10 hover:before:left-1/2 hover:before:-translate-x-1/2
  hover:before:bg-gray-800 hover:before:text-white 
  hover:before:px-2 hover:before:py-1 
  hover:before:rounded 
  hover:before:opacity-100 
  hover:before:transition-opacity hover:before:duration-600 hover:before:ease-in-out;
}
